.link {
  stroke: #aaa;
}

.node text {
  stroke:#333;
}

.node circle{
 stroke:#fff;
  stroke-width:3px;
    cursor:pointer;
}



#graph-container {
  width:100%;
  height:500px;
  border:solid 1px black;
  position:relative
}

#graph-container-nav {
  position:absolute;
  right:0px;
  top:0px;
  bottom:0px;
  width:20%;
  padding:2%;
  overflow:hidden;
  overflow-y:scroll;
  background: rgba(256,256,256,0.5);
}
#graph-container-nav ul { padding:0px; }
#graph-container-nav ul li { list-style-type:none; }
